<% @menus.each do |menu| %>
  <li class='list'>
    <%= link_to user_path(menu.user_id) do %>
    <div>
      <%= link_to menu.user.name, user_path(menu.user_id) %>さんの投稿です
    </div>
    <div class='menu-img-content'>
      <%= image_tag menu.image, class: "menu-img" if menu.image.attached?%>
    </div>
    <div class='menu-info'>
      <h3 class='menu-name'>
        <%= menu.name %>
      </h3>
      <div class='item-price'>
        <span><%= menu.calorie %>cal</span>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
      </li>
      <% if @menus.empty? %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "sample.png", class: "menu-img" %>
        <div class='menu-info'>
          <h3 class='menu-name'>
            カレーライス(sample)
          </h3>
          <div class='item-price'>
            <span>650cal</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
</div>