<% @menus.each do |menu| %>
  <div class='post-user'>
    <%= link_to menu.user.name, user_path(menu.user_id), class: 'post-user-name' %>さんの投稿です
  </div>
  <li class='list'>
    <%= link_to menu_path(menu.id) do %>
    <div class='menu-img-content'>
      <%= image_tag menu.image, class: 'menu-img' if menu.image.attached?%>
    </div>
    <div class='menu-info'>
      <h3 class='menu-name'>
        <%= menu.main_name %>
      </h3>
      <div class='item-price'>
        <span><%= menu.main_calorie %>cal</span>
        <div class='star-btn'>
          <%= image_tag 'star.png', class:'star-icon' %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
    <% end %>
  </li>
<% end %>
<% if @menus.empty? %>
  <li class='list'>
    <%= link_to '#' do %>
    <%= image_tag 'sample.png', class: 'menu-img' %>
    <div class='menu-info'>
      <h3 class='menu-name'>
        カレーライス(sample)
      </h3>
      <div class='item-price'>
        <span>650cal</span>
        <div class='star-btn'>
          <%= image_tag 'star.png', class:'star-icon' %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
    <% end %>
  </li>
<% end %>
</ul>