<!DOCTYPE html>
<html>
  <head>
    <title>Dietmanagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">食事管理アプリ</a></h1>
        <div class="nav">
        <% if user_signed_in? %>
        <div class="user_nav grid-6">
        <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "post" %>
        </div>
        <div class="user_nav grid-6">
        <%= link_to 'mypage', user_path(current_user.id), class: "post" %>
        </div>
        <% else%>
          <div class="user_nav grid-6">
            <a class="post" href="/users/sign_up">新規登録</a>
          </div>
          <div class="user_nav grid-6">
            <a class="post" href="/users/sign_in">login</a>
          </div>
        <% end %>
          <div class="user_nav grid-6">
            <a class="post" href="/menus/new">投稿する</a>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright Dietmanagement 2023.
      </p>
    </footer>
  </body>
</html>
